html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */
h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  margin: 0 0 2rem 0;
}
h1 {
  font-size: 3.8rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}
@media (min-width: 500px) {
  h1 {
    font-size: 6rem;
  }
}
h2 {
  font-size: 3.2rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}
@media (min-width: 500px) {
  h2 {
    font-size: 5rem;
  }
}
h3 {
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}
@media (min-width: 500px) {
  h3 {
    font-size: 4rem;
  }
}
a {
  text-decoration: none;
  color: #000;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: #8cbc00;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: none;
  width: 100%;
}
.btn:hover {
  background-color: #769c02;
  cursor: pointer;
}

@media (min-width: 768px) {
  .btn {
    width: auto;
  }
}

/** Utilidades */
.text-center {
  text-align: center;
}

/** Header / Navegacion **/
.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
}
.nombre-sitio span {
  color: #037bc0;
}
.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;
}
.nav-principal {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .nav-principal {
    justify-content: space-between;
    flex-direction: row;
  }
}

/** Contenido / Información**/
.contenido {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}
@media (min-width: 768px) {
  .informacion {
    padding: 0;
  }
}

/** elbarrio **/
.elbarrio {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .elbarrio {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .elbarrio {
    grid-template-columns: 1fr;
  }
}

.elbarrio img {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
}

/* Formulario */
.formulario {
  max-width: 60rem;
  margin: 0 auto;
}

.formulario fieldset {
  border: 1px solid black;
  margin-bottom: 2rem;
}
.formulario legend {
  background-color: #005485;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  margin-bottom: 4rem;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo label {
  flex-basis: 10rem;
}
.campo input:not([type="radio"]),
.campo textarea,
.campo select {
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}

/* Footer */
.copyright {
  margin-top: 5rem;
  text-align: center;
}

.whatsapp {
  position: fixed;
  right: 40px;
  bottom: 50px;
}

.whatsapp img {
  width: 50px;
}
