@charset "UTF-8";
/* Reseteo */
* {
  margin: 0px;
  padding: 0px; }

/* Tipografía general */
body {
  background-color: #cae7fa;
  font-family: "Lato", sans-serif; }

/** Nav **/
.nav-link {
  color: #037bc0; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #1134c9; }

.bg-sky {
  background-color: #c3d8f7; }

/** Header / Navegacion **/
.nombre-sitio {
  margin-top: 8rem;
  text-align: center; }
  .nombre-sitio span {
    color: #037bc0; }

/** Formulario Contacto **/
.btn {
  background-color: #04c3ee;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: none;
  width: 100%; }

/** Galeria ElBarrio**/
.galeria .col-lg-4 {
  padding: 15px; }
  .galeria .col-lg-4 img {
    height: 15rem;
    width: 100%; }

.elbarrio {
  position: relative;
  overflow: hidden;
  margin: 10px 0px 0px 0px; }
  .elbarrio:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 60%; }
  .elbarrio:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 100%; }
  .elbarrio .elbarrio-img {
    background-color: #e4e7ed; }
    .elbarrio .elbarrio-img img {
      width: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  .elbarrio:hover .elbarrio-img > img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
