$colorDefault: #037bc0;
$colorBodyBackground: #cae7fa;
$colorNavLink: #037bc0;
$colorActiveLink: #1134c9;
$colorBgSky: #c3d8f7;
$colorNombreSitio: #037bc0;
$colorBtnBg: #04c3ee;
$colorElBarrioImg: #e4e7ed;
