/* Formulario */
.formulario {
  max-width: 60rem;
  margin: 0 auto;
  fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
  }
  legend {
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
  }
}

.campo {
  display: flex;
  margin-bottom: 2rem;
  label {
    flex-basis: 10rem;
  }
  input:not([type="radio"]),
  textarea,
  select {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
  }
}

.btn {
  background-color: #8cbc00;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: none;
  width: 100%;
  &:hover {
    background-color: #769c02;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    width: auto;
  }
}
