/** elbarrio **/
.elbarrio {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.animate {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(0.85);
  }
}
