/** Nav **/

.nav-link {
  color: $colorNavLink;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: $colorActiveLink;
}

.bg-sky {
  background-color: $colorBgSky;
}

/** Header / Navegacion **/
.nombre-sitio {
  margin-top: 8rem;
  text-align: center;
  span {
    color: $colorNombreSitio;
  }
}
