/** Formulario Contacto **/

// MAP GET
// Declarar el mapa
$boton: (
  mayusculas: uppercase,
  peso: 900,
  1rem: 1rem,
  borde: none,
  ancho: 100%,
);

.btn {
  background-color: $colorBtnBg;
  display: block;
  color: $colorDefault;
  text-transform: map-get($boton, mayusculas);
  font-weight: map-get($boton, peso);
  padding: map-get($boton, 1rem);
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: map-get($boton, borde);
  width: map-get($boton, ancho);
}
