/** Nav **/

.nav-link {
  color: $colorNavLink;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: $colorActiveLink;
}

.bg-sky {
  background-color: $colorBgSky;
}

/** Header / Navegacion **/
.nombre-sitio {
  margin-top: 8rem;
  text-align: center;
  font-weight: 800;
  span {
    color: $colorNombreSitio;
  }
}

.titulo-sitio {
  font-weight: 700;
}

.titulo-bloque {
  font-weight: 650;
}

.titulo-sec {
  font-weight: 630;
  text-align: center;
}

.titulo-card {
  font-weight: 630;
  text-decoration: underline;
}
